<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--  Config Log4net and Common.Logging {Version: Common.Logging[2.2.0]} -->
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!--  Common.Logging Config {Version: Common.Logging.Log4Net1211[2.2.0]} -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <!--  Log4net Config {Version: log4net[1.2.13]} -->
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="consoleApp" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>

  <!--  TRE Client App Config -->
  <appSettings>
    <add key="baseURL" value="http://122.119.123.25/report/" />
    <add key="appid" value="fdcc8c39a31haf4dfa03ab4ce5e3f26b00" />
    <add key="appSecret" value="4fa01e054a894ce78bf4d30edbf3f12" />
    <add key="systemid" value="0001" />
    <add key="HUB2B" value="acbh5f7k00"/>
    <add key="UQB2B" value="68gyjkkf00"/>
    <add key="FUB2B" value="02sww0ka00"/>
    <add key="DRB2B" value="yhpwqnl200"/>
    <add key="BKB2B" value="vz43dx9000"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!-- Assembly log4net -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>